.about-quote {
    font-weight: 400;
    font-size: 44px;
    line-height: 50px;
    /* or 114% */
    text-transform: uppercase;
}

.about-img {
    width: 600px;
    height: 596px;
    margin-right: 80px;
}

.about-col {
    vertical-align: top;
    width: 500px;
    display: inline-block;

}

.about-text {
    margin-bottom: 40px;
}

.about-text:nth-child(2) {
    margin-bottom: 48px;
}

.about-quote__text{
    margin-bottom: 40px;
}

.about-quote__text-logo {
    display: block;
}

.about-quote__text-logo::before {
    content: '\275B\275B';
    font-size: 44px;
    line-height: 50px;
    color: #6C0287;
    margin-right: 9px;
}

.about-quote__text::after {
    content: '\275C\275C';
    color: #6C0287;
    font-size: 44px;
    line-height: 50px;
}


.about-quote__cite {
    display: block;
    width: 395px;
    margin-left: auto;
    text-align: left;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    vertical-align: top;
}

.about-quote__cite-image {
    display: inline-block;
    max-width: 100%;
    margin-right: 29px;
}

.about-quote__cite-text {
    width: 280px;
    display: inline-block;
    text-transform: none;
}